<div *ngIf="loading" [hidden]="!loading" class="spinner-overlay"><ion-spinner class="spinner-center-absolute"></ion-spinner></div>
<ion-header class="my-clinic-page group-create-page">
  <ion-navbar class="custom-header">
    <ion-icon class="header-action-icon pull-left" name="arrow-back" tapable (click)="goToGrouping(activeGroup)"></ion-icon>
    <ion-title>ZEN HQ</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="my-clinic-page group-create-page">
  <div class="content-title">
    <ion-title class="truncated">{{activeGroup.title}}</ion-title>
    <ion-title class="truncated">{{groupCreate.title}}</ion-title>
  </div>
  <div class="page-content">

    <div class="clear-container">
      <input-select
        *ngFor="let field of createGroupInputs"
        [itemDisabled]="field.disabled"
        [itemValue]="newGroup[field.modelName]"
        [itemLabel]="field.placeholder"
        [itemType]="field.type"
        [itemOptions]="field.options ? field.options : []"
        [itemError]="_util.validateItem(field, newGroup[field.modelName])"
        (itemChange)="field.type === 'google-autocomplete' ? applyAddressTo(newGroup, $event) : newGroup[field.modelName] = $event; onChangeValidate()"
        (itemChangeSearch)="field.type === 'google-autocomplete' ? applySearchTo(newGroup, $event) : false; onChangeValidate()"
      ></input-select>

      <custom-select
        *ngIf="unusedDevices.length && activeGroup.level < 4"
        [itemDisabled]="activeGroup.level === 3"
        [itemMultiple]="true"
        [itemValue]="newGroup.hubs.length ? newGroup.hubs : ''"
        [itemLabel]="'Hubs'"
        [itemOptions]="unusedDevices"
        [itemType]="'text'"
        [itemError]="''"
        (itemChange)="newGroup.hubs = $event; onChangeValidate()"
      ></custom-select>

      <br/>
      <h5 *ngIf="!unusedDevices.length && activeGroup.level <= 4" class="full-width-text-center">
        No available {{ activeGroup.level === 4 ? 'Devices' : 'Hubs' }}
      </h5>

    </div>

    <div class="content-actions" *ngIf="activeGroup.level === 3">
      <button
        [disabled]="!unusedDevices.length"
        *ngIf="dependencies.edit && activeGroup.level === 3"
        type="button"
        class="btn-round float-left shadow"
        tapable (click)="goToHub(activeGroup)"
      >
        <ion-icon class="btn-ion-icon" name="add"></ion-icon>
        <span class="btn-title-absolute">Add hub</span>
      </button>
    </div>

    <div class="actions col-xs-12">
      <button
        type="button"
        class="btn-rect"
        [disabled]="!groupCreate.formValid"
        [ngClass]="!groupCreate.formValid ? 'disabled' : ''"
        tapable (click)="groupCreate.formValid ? save(newGroup) : false"
      >
        Save
      </button>
    </div>
  </div>
</ion-content>
