<ion-header>
  <ion-navbar class="custom-header">
    <ion-icon class="header-action-icon pull-left" name="arrow-back" (tap)="goBack()"></ion-icon>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngIf="!newPasswordSent" class="create-account row center-xs middle-xs">
    <form
      ngForm
      name="forgotPasswordForm"
      class="create-account-form col-xs-6"
      #forgotPasswordForm="ngForm"
      (submit)="sendNewPassword()"
    >
      <div class="info-container">
        <div class="plain-text">
          Enter your email address and if you have an active account a new password will be sent to you
        </div>
        <div class="clear-container">
          <custom-input
            [itemDisabled]="false"
            [itemValue]="user.email"
            [itemLabel]="'Email'"
            [itemType]="'email'"
            [itemError]="validateItem('email')"
            (itemChange)="user.email = $event"
          ></custom-input>
        </div>
      </div>
      <div class="actions col-xs-12">
        <button
          type="submit"
          class="btn-round"
          [disabled]="!forgotPasswordForm.form.valid || loading || !emailRegExp.test(user.email)"
        >
          <ion-icon class="btn-ion-icon" name="arrow-forward"></ion-icon>
        </button>
      </div>
    </form>
  </div>
  <div *ngIf="newPasswordSent" class="create-account row center-xs middle-xs">
    <div class="create-account-form col-xs-6">
      <div class="info-container">
        <div class="plain-text">
          Email sent, check your inbox
        </div>
        <ion-icon class="btn-ion-icon ion-icon-huge" name="checkmark-circle-outline" (tap)="goBack()"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
