<ion-header>
  <ion-navbar class="custom-header">
    <ion-icon class="header-action-icon pull-left" name="arrow-back" (tap)="goBack()"></ion-icon>
    <ion-title>Create Account</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="create-account row center-xs middle-xs">
    <form
      ngForm
      name="authForm"
      class="create-account-form col-xs-6 shadow-2"
      #authForm="ngForm"
      (submit)="authenticate()"
    >
      <div class="clear-container">
        <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
        <span *ngIf="account.created && !loading" class="text-center red">Account created and can be change only after sign in!</span>
        <custom-select
          [itemDisabled]="account.created || loading"
          [itemValue]="account.location.country"
          [itemLabel]="'Country'"
          [itemOptions]="countryNamesArr || []"
          [itemType]="'text'"
          [itemError]="''"
          (itemChange)="account.location.country = $event; onChangeValidate('country')"
        ></custom-select>
        <custom-select
          [itemDisabled]="!account.location.country || account.created || loading"
          [itemValue]="account.location.state || ''"
          [itemLabel]="'State'"
          [itemOptions]="stateNamesArr || []"
          [itemType]="'text'"
          [itemError]="''"
          (itemChange)="account.location.state = $event; onChangeValidate('state')"
        ></custom-select>
        <custom-select
          [itemDisabled]="!account.location.state || account.created || loading"
          [itemValue]="account.location.city"
          [itemLabel]="'City'"
          [itemOptions]="cityNamesArr || []"
          [itemType]="'text'"
          [itemError]="''"
          (itemChange)="account.location.city = $event; onChangeValidate('city')"
        ></custom-select>
      </div>
      <div class="actions col-xs-12">
        <a class="link-nav pull-right" [ngClass]="!formValid || loading ? 'disabled' : ''" (click)="formValid || loading ? next() : false">
          Next
        </a>
      </div>
    </form>
    <img alt="ZEN HQ Mobile" src="{{logoTransparent}}" class="dpw-logo-foot">
  </div>
</ion-content>
