@import '../../theme/variables';

signin .content .scroll-content {
  //overflow: hidden;
}
.create-account-clinic {
  height: 100%;
  width: 100%;
  .create-account-form {
    border: none;
    background: transparent !important;
    padding: 40px 0 0;
    position: relative;
    min-height: calc(100% - 410px);
    height: auto;
    width: 100%;
    text-align: center;
    //input {
    //  background-color: transparent;
    //  box-sizing: border-box;
    //  border: none;
    //  border-bottom: 1px solid $col-neutral-placeholder;
    //  color: $col-neutral-text;
    //  font-size: $text-body;
    //  font-weight: 300;
    //  display: block;
    //  line-height: 36px;
    //  margin: 0 auto 40px;
    //  padding: 0;
    //  outline: none;
    //  height: 36px;
    //  width: 100%;
    //}
    //input::-webkit-input-placeholder,
    //input:-ms-input-placeholder,
    //input::-moz-placeholder,
    //input:-moz-placeholder {
    //  color: $col-neutral-placeholder;
    //}
    //input:focus {
    //  color: $col-primary-blue;
    //  border-bottom: 1px solid $col-primary-blue;
    //}
    .warn-clear-icon {
      cursor: pointer;
      display: none;
      position: absolute;
      top: 2px;
      right: -18px;
    }
    .warn-message {
      font-size: $text-body;
      color: $col-primary-red;
      line-height: 26px;
      position: relative;
    }
    .warn-container {
      display: block;
      position: relative;
      margin: 0 auto 10px;
      text-align: center;
      height: 26px;
      width: 100%;
      .fa-close {
        color: $col-neutral-placeholder;
        cursor: pointer;
        font-size: 16px;
        position: absolute;
        right: -20px;
        top: 0;
        z-index: 2;
      }
    }
    .warn-container:hover {
      .warn-clear-icon {
        display: inline-block;
      }
    }
    .custom-input-container {
      width: 80%;
    }
  }
}
.actions {
  display: block;
  margin-top: 54px;
  width: 100%;
  .btn-rounded {
    cursor: pointer;
    box-sizing: border-box;
    background-color: $col-primary-blue;
    border: none;
    border-radius: 22px;
    color: #fff;
    margin-bottom: 12px;
    height: 44px;
    width: 67.5%;
  }
  .btn-transparent {
    background-color: transparent;
    border: none;
    color: $col-primary-blue;
    height: 36px;
  }
  .btn-transparent:disabled {
    color: $col-neutral-placeholder;
    cursor: not-allowed;
  }
}
