<div class="custom-input-container" [ngClass]="itemClass">
  <label
    #inputLabel
    for="customInput{{itemLabel.split(' ').join('')}}"
    class="custom-input-label {{itemValue && itemValue.length ? 'input-not-empty' : ''}} {{inputLabel.isActive ? 'input-active' : ''}}"
  >
    {{itemLabel}}
  </label>
  <input
    ngModel
    [disabled]="itemDisabled"
    [ngClass]="itemError && !inputLabel.isActive ? 'error' : ''"
    type="{{itemType ? itemType : 'text'}}"
    name="customInput{{itemLabel.split(' ').join('')}}"
    (focus)="inputLabel.isActive=true"
    (blur)="inputLabel.isActive=false"
    (keyup)="valueChange()"
    [(ngModel)]="itemValue"
    autoComplete="false"
    spellCheck="false"
    id="customInput{{itemLabel.split(' ').join('')}}"
  >
  <span *ngIf="!inputLabel.isActive && itemValue" class="custom-input-error">{{itemError}}</span>
</div>
