// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

// Style variables
$nav-button-color: #00838F;

$primary-color: #6dc7c1;
$secondary-color: #808285;

$color-background: #f2f2f2;

// Color schema
$col-primary-blue: #24408e;
$col-secondary-blue: #00adef;
$col-primary-red: #ed1c24;
$col-neutral-text: #5d5b58;
$col-neutral-placeholder: #b3b3b3;
$col-neutral-label: #ccc;
$col-inactive-textbox-outline: #e7eaec;
$col-inactive-textbox-fill: #f2f2f2;
$col-primary-white: #fff;
$col-primary-black: #000;

// Font sizes
$text-heading: 28px;
$text-btn-primary: 22px;
$text-navigation: 14px;
$text-body: 14px;
$text-header: 16px;
$text-caption: 12px;
$text-btn-secondary: 12px;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
