<ion-header>
  <ion-navbar class="custom-header">
    <ion-icon class="header-action-icon pull-left" name="arrow-back" (tap)="goBack()"></ion-icon>
    <ion-title>My Pen</ion-title>
    <ion-icon class="header-action-icon pull-right bold-ios" name="add" (tap)="goToNewPen()"></ion-icon>
  </ion-navbar>
</ion-header>
<ion-content class="my-clinic-page">
  <div class="page-content">
    <div class="clear-container">
      <ion-searchbar
        placeholder="Search"
        [animated]="true"
        [(ngModel)]="searchInput"
        (ionInput)="onInput($event)"
        (ionCancel)="onCancel($event)">
      </ion-searchbar>
      <ion-list>
        <ion-item-sliding *ngFor="let item of penListFiltered">
          <ion-item>
            <button ion-item (click)="itemSelected(item)">
              {{ item.name || item.serialNumber }} <span class="pull-right secondary-blue">Update Pen</span>
              <ion-icon class="list-icon-absolute" name="arrow-forward"></ion-icon>
            </button>
          </ion-item>
          <ion-item-options>
            <button class="danger" (click)="requestRemove(item)">Delete</button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      <div *ngIf="searchInput" class="info-container">
        <div *ngIf="penListFiltered.length" class="plain-text text-center">Showing {{penListFiltered.length}} of {{penListFiltered.length}} items</div>
        <div *ngIf="!penListFiltered.length" class="plain-text text-center">No results found</div>
      </div>

    </div>
    <div class="actions"></div>
  </div>
  <img alt="ZEN HQ Mobile" src="{{logoTransparent}}" class="dpw-logo-foot">
</ion-content>
