<ion-header>
  <ion-navbar class="custom-header">
    <ion-icon class="header-action-icon pull-left" name="arrow-back" (tap)="goBack()"></ion-icon>
    <ion-title>Pen Update</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngIf="errorDescription && errorDescription.length" class="create-account row center-xs middle-xs">
    <form
      ngForm
      name="penUpdateForm"
      class="create-account-form col-xs-6"
      #penUpdateForm="ngForm"
    >
      <div class="info-container">
        <div class="plain-text text-left">
          <span class="secondary-blue">Error</span>
        </div>
        <div class="plain-text text-left">{{errorDescription}}</div>
      </div>
      <div class="actions col-xs-12">
        <a class="link-nav pull-right" (click)="doRetry()">Retry</a>
      </div>
    </form>
  </div>

  <div class="create-account row center-xs middle-xs">
    <form
      ngForm
      name="penUpdateForm"
      class="create-account-form col-xs-6"
      #penUpdateForm="ngForm"
    >
      <div class="info-container">
        <div class="plain-text text-left">
          <span class="secondary-blue">{{dpDevice.name}}</span>
          <span *ngIf="dpDevice.name && !gettingDevices"> ({{ dpDevice.paired ? 'paired' : 'unpaired' }}) </span>
          <span *ngIf="!gettingDevices" class="primary-blue pull-center" (tap)="dpDevice.paired ? disconnect() : selectDevice(dpDevice.address || dpDevice.id, dpDevice)">
             {{ dpDevice.paired ? ' Disconnect ' : ' ' }}
          </span>
          <span *ngIf="!gettingDevices" class="secondary-blue pull-right" (tap)="startScanning()"> Scan <ion-icon small name="refresh"></ion-icon></span>
        </div>
        <ion-spinner name="crescent" *ngIf="gettingDevices"></ion-spinner>
        <br/>
        <div class="plain-text text-left">
          BLE device data R/W test page.
        </div>
        <br/>
        <div class="plain-text text-left" *ngIf="!dpDevice.paired">
          Please pair Pen to enable test functionality!
        </div>
      </div>

      <circle-progress
        [percent]="updatePercent"
        [radius]="100"
        [space]="-4"
        [outerStrokeWidth]="4"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#00adef'"
        [innerStrokeColor]="'#e7eaec'"
        [outerStrokeLinecap]="'butt'"
        [showSubtitle]="false"
        [showTitle]="false"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>

      <!--<div class="actions col-xs-12">-->
        <!--<a class="link-nav pull-right" (click)="goNext()">-->
          <!--{{ dependencies.newPen ? 'Register' : 'Next' }}-->
        <!--</a>-->
      <!--</div>-->
    </form>

    <div [hidden]="!dpDevice.paired" class="create-account-form col-xs-6 ble-pair-container">
      <ion-list padding>
        <button
          ion-button
          block
          (click)="writeWithResponse(dpDevice.id, { serviceUUID: 'a8a91000-38e9-4fbe-83f3-d82aae6ff68e', characteristicUUID: 'a8a91003-38e9-4fbe-83f3-d82aae6ff68e', type: 'fileRequest' }, [5,2,16])"
        >
          Data request: Device Settings - Write
        </button>
        <button
          ion-button
          block
          (click)="writeWithResponse(dpDevice.id, { serviceUUID: 'a8a91000-38e9-4fbe-83f3-d82aae6ff68e', characteristicUUID: 'a8a91003-38e9-4fbe-83f3-d82aae6ff68e', type: 'fileRequest' }, [3,2,6])"
        >
          File request: Black List - Write
        </button>
        <br/>


        <!--<button ion-button block (click)="startScanning()">scan</button>-->
        <!--<ion-list-header>-->
          <!--Paired Devices-->
        <!--</ion-list-header>-->
        <!--<ion-item *ngFor="let device of pairedDevices">-->
          <!--{{device.name}}-->
        <!--</ion-item>-->
        <!--<button ion-button block (click)="disconnect()">Disconnect</button>-->
        <!--<ion-list-header>-->
          <!--availlable Devices-->
        <!--</ion-list-header>-->
        <!--<ion-item *ngFor='let device of unpairedDevices' (click)="selectDevice(device.address, device)">-->
          <!--<span>{{device.name}}</span>-->
        <!--</ion-item>-->
        <!--<button ion-button block (click)="isConnected(dpDevice)">Check, if {{dpDevice.name}} is connected.</button>-->
        <ion-list-header>
          Read Values
        </ion-list-header>
        <button
          ion-button
          block
          *ngFor="let item of deviceInterface.characteristics"
          (click)="readFromDevice(dpDevice.id, item.service, item.characteristic, item.type)"
          [hidden]="!item.name || !hasProp(item.properties, 'Read')"
        >
          {{item.name}}
        </button>
        <!--<ion-spinner name="crescent" *ngIf="gettingDevices"></ion-spinner>-->
        <!--<ion-list-header>-->
          <!--Write Values-->
        <!--</ion-list-header>-->
        <!--<div [hidden]="!item.name || !(hasProp(item.properties, 'Read') && hasProp(item.properties, 'Write'))" *ngFor="let item of deviceInterface.characteristics">-->
          <!--<button-->
            <!--ion-button-->
            <!--block-->
            <!--(click)="writeToDevice(dpDevice.id, item.service, item.characteristic, deviceValues[item.characteristic] || 0)"-->
          <!--&gt;-->
            <!--{{item.name}} {{deviceValues[item.characteristic]}}-->
          <!--</button>-->
          <!--<ion-item>-->
            <!--<ion-range min="0" max="10" step="1" [(ngModel)]="deviceValues[item.characteristic]">-->
              <!--&lt;!&ndash;<ion-icon range-left small name="volume-down"></ion-icon>&ndash;&gt;-->
              <!--&lt;!&ndash;<ion-icon range-right name="volume-up"></ion-icon>&ndash;&gt;-->
            <!--</ion-range>-->
          <!--</ion-item>-->
        <!--</div>-->
        <button
          ion-button
          block
          (click)="writeWithResponse(dpDevice.id, { serviceUUID: 'a8a91000-38e9-4fbe-83f3-d82aae6ff68e', characteristicUUID: 'a8a91003-38e9-4fbe-83f3-d82aae6ff68e', type: 'fileRequest' }, [2,3,0])"
        >
          File request: Error List - Read
        </button>
        <!--<button-->
          <!--ion-button-->
          <!--block-->
          <!--(click)="decodeBuffer(rawData, 'errorList')"-->
        <!--&gt;-->
          <!--Decode Error List buffer-->
        <!--</button>-->
        <button
          ion-button
          block
          (click)="writeWithResponse(dpDevice.id, { serviceUUID: 'a8a91000-38e9-4fbe-83f3-d82aae6ff68e', characteristicUUID: 'a8a91003-38e9-4fbe-83f3-d82aae6ff68e', type: 'fileRequest' }, [1,3,0])"
        >
          File request: Usage List - Read
        </button>
        <br/>

        <ion-list radio-group [(ngModel)]="requestItemValue">
          <ion-item *ngFor="let item of requestItems">
            <ion-label>{{item.viewValue}}</ion-label>
            <ion-radio value="{{item.value}}"></ion-radio>
          </ion-item>
        </ion-list>

        <button
          ion-button
          block
          (click)="writeWithResponse(dpDevice.id, { serviceUUID: 'a8a91000-38e9-4fbe-83f3-d82aae6ff68e', characteristicUUID: 'a8a91003-38e9-4fbe-83f3-d82aae6ff68e', type: 'fileRequest' }, [requestItemValue,6,0])"
        >
          File request: {{requestItems[requestItemValue].viewValue}} - Abort
        </button>
        <br/>

        <button
          ion-button
          block
          (click)="writeWithResponse(dpDevice.id, { serviceUUID: 'a8a91000-38e9-4fbe-83f3-d82aae6ff68e', characteristicUUID: 'a8a91003-38e9-4fbe-83f3-d82aae6ff68e', type: 'fileRequest' }, [requestItemValue,5,0])"
        >
          File request: {{requestItems[requestItemValue].viewValue}} - Done
        </button>
        <br/>

        <!--<button-->
          <!--ion-button-->
          <!--block-->
          <!--(click)="decodeBuffer(rawData, 'usageList')"-->
        <!--&gt;-->
          <!--Decode Error Usage buffer-->
        <!--</button>-->
        <br/>
        <button ion-button block (click)="logData = []">Clear Log</button>
      </ion-list>
    </div>
    <!--<span class="device-details">{{pairingDevice}}</span><br/>-->
    <span class="device-details">Activity Logs:</span><br/>
    <p class="device-details" *ngFor="let log of logData">{{log}}</p>
    <!--<span class="device-details" *ngIf="decodedData"><ion-icon small class="list-icon-absolute" name="close" (tap)="decodedData = ''"></ion-icon>decodedData: {{decodedData}}</span>-->
    <!--<span class="device-details" *ngIf="successData"><ion-icon small class="list-icon-absolute" name="close" (tap)="successData = ''"></ion-icon>Success: {{successData}}</span>-->
    <!--<span class="device-details" *ngIf="errorData"><ion-icon small class="list-icon-absolute" name="close" (tap)="errorData = ''"></ion-icon>Error: {{errorData}}</span>-->
    <img alt="ZEN HQ Mobile" src="{{logoTransparent}}" class="dpw-logo-foot">
  </div>
</ion-content>
