<custom-input
  *ngIf="itemType !== 'select' && itemType !== 'google-autocomplete'"
  [itemDisabled]="itemDisabled"
  [itemValue]="itemValue"
  [itemLabel]="itemLabel"
  [itemType]="itemType"
  [itemError]="itemError"
  (itemChange)="itemValue = $event; valueChange($event)"
></custom-input>
<custom-select
  *ngIf="itemType === 'select'"
  [itemDisabled]="itemDisabled"
  [itemValue]="itemValue"
  [itemLabel]="itemLabel"
  [itemOptions]="itemOptions"
  [itemType]="'text'"
  [itemError]="itemError"
  (itemChange)="itemValue = $event; valueChange($event)"
></custom-select>
<google-places-autocomplete
  *ngIf="itemType === 'google-autocomplete'"
  types="geocode"
  [addressValue]="itemValue"
  (placeholder)="itemLabel"
  (callback)="valueChange($event[0]); itemValue = $event[0].formatted_address"
  (inputChanged)="itemValue = $event"
  key="AIzaSyDJYtcVzKXghryIDmQaTBDp5gWYPbTBqfU"
></google-places-autocomplete>